<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="src/css/layout.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="con">
    <div id="header">
      <a href="index.html"><img src="src/asset/logo/logo.PNG" width="450px" height="190px"></a>
    </div>
    
    <div id="nav">
      <ul>
        <li v-for="location in location_list"><button :onclick="location.link">{{ location.name }}</button></li>
      </ul>
    </div>
    
    <div class="gif1">
      <img src="src/asset/video/gif1.gif" width="100%" height="500px">
    </div>
    
    <div id="wrap">
      <div id="content">

        <h2>요일 별 전시정보</h2>
        
        <table class="tb1">
          <tr class="day">
            <td><button class="Prev" onclick="goPrevWeek();">&#8249;</button></td>
            <td>
              <div id="weekval">
                2019.05.19~2019.05.25
              </div>
            </td>
            <td> <button class="Next" onclick="goNextWeek();">&#8250;</button></td>
          </tr>
        </table>
        <table class="tb2">
          <tr class="day">
            <td>월</td>
            <td>화</td>
            <td>수</td>
            <td>목</td>
            <td>금</td>
            <td>토</td>
            <td>일</td>
          </tr>
          <tr class="cal">
            <td v-for="day in week">
              <p v-for="content in day"><a @click="showDetail(content)">『{{ content.name }}』</a></p>
            </td>
          </tr>
        </table>

        <div class="recommend" v-if="!contentDetail">
          <h2>추천 전시 정보</h2>
          <div class="post" v-for="(item,i) in recommend">
            <a @click="showDetail(item)">
              <img :src="item.img" width="230px" height="300px">
              <div class="semi-detail">
                <h3>{{ item.name }}</h3>
                <p>{{ item.contents.host}}</p>
                <p>{{ item.contents.date}}</p>
              </div>
            </a>
          </div>
        </div>

        <div class="post-detail" v-if="contentDetail">
          <div class="post-img">
            <h2>{{ detail.name }}</h2>
            <img :src="detail.img" width="350px" height="500px"><br>
          </div>
          <div class="post-content">
            <p>{{ detail.contents.fullname }}</p>
            <p>{{ detail.contents.date }}</p>
            <p>{{ detail.contents.author }}</p>
            <p>{{ detail.contents.numOfWorks }}</p>
            <p>{{ detail.contents.price }}</p>
            <p>{{ detail.contents.host }}</p>
            <p>{{ detail.contents.content }}</p>
            <br>
            <form>
              <input type="button" value="예약하기" onclick="openModal()">
              <!--누르면 예약 폼으로 연결됨-->
            </form>
          </div>
        </div>
      </div>

      <div id="banner">
        <div class="newsletter">
          <p class="email"><i class="far fa-envelope"></i>&nbsp;뉴스레터</p>
          <form>
            <input type="text" placeholder="이메일을 입력해주세요.">
            <input type="submit" value="구독하기">
          </form>
        </div>

        <hr>

        <div class="sns">
          <a href="https://www.facebook.com/mmcakorea/" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com/mmcakorea" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/mmcakorea/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <hr>

        <div class="player">
          <video src="src/asset/video/video.mp4" width="330px" height="220px" controls></video>
        </div>

        <hr>

        <div class="mapcover">
          <p class="map"><i class="fas fa-map-marker-alt"></i>&nbsp;국립현대미술관 오시는 길</p>
          <!--서울, 과천, 덕수궁, 청주 주소-->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.753261884332!2d126.97863686504479!3d37.57952725042923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2c14dacd53d%3A0x205c23120e574816!2z6rWt66a97ZiE64yA66-47Iig6rSAIOyEnOyauOq0gA!5e0!3m2!1sko!2skr!4v1557898908841!5m2!1sko!2skr"
            width="330" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
          <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101284.13410307924!2d126.9299461996947!3d37.50487102355629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2ed7e746c37%3A0x94e9dea2d7bf466d!2z6rWt66a97ZiE64yA66-47Iig6rSA!5e0!3m2!1sko!2skr!4v1557899183635!5m2!1sko!2skr" width="290" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12649.013284922932!2d126.96827588293273!3d37.57265217674595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f0b7fddc216fc3!2z6rWt66a97ZiE64yA66-47Iig6rSAIOuNleyImOq2geq0gA!5e0!3m2!1sko!2skr!4v1557899076449!5m2!1sko!2skr" width="290" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3200.79286240197!2d127.4880026151129!3d36.65543347997859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565278d8298e149%3A0xd5a6eecde9138557!2z6rWt66a97ZiE64yA66-47Iig6rSAIOyyreyjvOq0gA!5e0!3m2!1sko!2skr!4v1557899121053!5m2!1sko!2skr" width="290" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          -->
        </div>
        
      </div>
    </div>

    <hr>
    <div id="footer">
      <img src="src/asset/logo/logo2.PNG" width="100px" height="100px">
      <p>대표자명 윤범모 사업자등록번호 138-83-00313</p>
      <p>Copyright (c)2018 National Museum of Modern and Contemporary Art, Korea All rights reserved.</p>
      <p>대표전화 | (과천) 02-2188-6000, (서울) 02-3701-9500, (덕수궁) 02-2022-0600, (청주) 043-261-1400</p>
      <p>Copyright ⓒ 2019 WEBER<p>
    </div>
  </div>

  <div id="modal">
    <h3>Test Modal</h3>
    <p>이 창은 모달창입니다.</p>
    <button id="confirm_button">확인</button>
    <button class="js_close">닫기</button>
  </div>
</body>

<script src="src/asset/data/dataIndex.js"></script>
<script src="src/script/index.js"></script>

</html>
